.toggle-check {
	margin: 15px;
}

.hidden-field-wrap {
	display: none;
	padding: 6px;
	border: 1px #bbb dashed;
	background-color: #f0f1ff;
}

.form-toggle {
	padding-left: 35px;
	font-size: 1.3em;
}

.form-check {
	width: 100%;
	text-align: center;
}

.center-wrap {
	width: 100%;
	text-align: center;
}

hr {
	border-color: #dfdfdf;
	padding: 5px 0;
}


.modal-button {
	float: right;
}

textarea {
	resize: none;
	font-size: 1.25em;
	line-height: 22px;
}


.form-label {
	font-weight: 800;
	font-size: 1.3em;
	color: #5a5a5a;
}

.form-field {
	margin: 10px 20px;
}

.repeating {
	padding: 15px 0;
}

.detail-wrap {
	display: inline-block;
	line-height: 1.4em;
	font-size: 1.2em;
}

.recurring-detail-wrap {
	line-height: 1.2em;
	font-size: 1em;
}



.time-period-wrap {
	font-size: 1.1em;
	font-weight: 400;
}

.period-input-text,
.goal-input-text {
	width: 50px;
	margin: 0px;
	line-height: 1.5em;
	font-size: 1.3em;
	height: 1.8em;
	text-align: right;
}