@media (max-device-width:1024px)  {
	body {
		background-color: #ff00aa;
	}

}	
@media (min-device-width: 1025px) {
	body {
		background-color: #ff00aa;
	}

	html {
		font-size: 4em;
	}
	.tasks-partial-div {
		padding-top: 40px;
		margin: 0 0;
		width: 100%;
		background-image: url("crumble-bg.jpg");
		background-size: 120% 120%;
		border-top: 1px #555 solid;
	}

	.tasks-wrapper-div {
		margin: 0 auto;
		width: 1180px;
		text-align: center;
		padding-bottom: 280px;

	}

	.task-div {
		width: 350px;
		height: 350px;
		background-color: #F8F9Ff;
		border-radius: 5px;
		border: 10px rgba(45, 86, 193, 0.5) solid;
		display: inline-block;
		margin: 15px 20px;
		vertical-align:top;
		font-size: 10px;

		-webkit-box-shadow: 12px 7px 11px 0px rgba(0,0,0,0.63);
		-moz-box-shadow: 12px 7px 11px 0px rgba(0,0,0,0.63);
		box-shadow: 12px 7px 11px 0px rgba(0,0,0,0.63);
	}

	.task-description {
		margin: 15px auto 10px auto;
		padding: 4px;
		border: 1px #ccc solid;
		width: 300px;
		height: 7em;
		font-size: 1.4em;
		line-height: 1.3em;
		background-color: #EBEFFF;
		overflow: ellipsis;
		font-family: 'PT Serif', serif;
	}

	.task-name {
		font-family: 'Glyphicons Halflings', serif;
		font-size: 1.8em;
		background-color: #273952;
		color: #eee;
		min-height: 2em;
		padding: 2px 3px 2px 3px;
		display: block;
	}

	.task-due {
		margin: 0 auto;
		font-size: 1.2em;
		font-weight: 600;
	}


	content {
		background-color: rgba(88, 88, 88, 0.5);
	}

	#session-modal {
		width: 640px;
		max-width: 100%;
		height: 420px;
		background: none;
		border: none;
		box-shadow: none;
	}

}
	/*

	.task-description {
		margin: 15px auto 10px auto;
		width: 86%;
		background-color: #EBEFFF;
		border: 1px #aaa solid;
		font-size: 1.35em;
		padding: 8px;
		line-height: 1.4em;
		text-align: left;
		font-family: 'Playfair Display', serif;
	}

	*/