<!DOCTYPE html>
<html>
<head>
  <title>Tasktime - Task Tracking and Time Management in your Web Browser!</title>
      <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="Task-Time. online task tracking and time management software, no download required.">
    <meta name="author" content="Maurice Nowicki">

  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>

</head>
<body>


<%= yield %>

</body>
</html>
